# OSX
#
currency/.DS_Store

# Xcode
#
App6/build/
App6/*.pbxuser
!App6/default.pbxuser
App6/*.mode1v3
!App6/default.mode1v3
App6/*.mode2v3
!App6/default.mode2v3
App6/*.perspectivev3
!App6/default.perspectivev3
App6/xcuserdata
App6/*.xccheckout
App6/*.moved-aside
App6/DerivedData
App6/*.hmap
App6/*.ipa
App6/*.xcuserstate
App6/**/.xcode.env.local

# Android/IntelliJ
#
App6/build/
App6/.idea
App6/.gradle
App6/local.properties
App6/*.iml
App6/*.hprof
App6/.cxx/
App6/*.keystore
!App6/debug.keystore

# node.js
#
App6/node_modules/
App6/npm-debug.log
App6/yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

App6/**/fastlane/report.xml
App6/**/fastlane/Preview.html
App6/**/fastlane/screenshots
App6/**/fastlane/test_output

# Bundle artifact
App6/*.jsbundle

# Ruby / CocoaPods
App6/**/Pods/
App6//vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
App6/.metro-health-check*

# testing
App6/coverage

# Yarn
App6/.yarn/*
!App6/.yarn/patches
!App6/.yarn/plugins
!App6/.yarn/releases
!App6/.yarn/sdks
!App6/.yarn/versions

# OSX
#
currency/.DS_Store

# Xcode
#
spotifyApp/build/
spotifyApp/*.pbxuser
!spotifyApp/default.pbxuser
spotifyApp/*.mode1v3
!spotifyApp/default.mode1v3
spotifyApp/*.mode2v3
!spotifyApp/default.mode2v3
spotifyApp/*.perspectivev3
!spotifyApp/default.perspectivev3
spotifyApp/xcuserdata
spotifyApp/*.xccheckout
spotifyApp/*.moved-aside
spotifyApp/DerivedData
spotifyApp/*.hmap
spotifyApp/*.ipa
spotifyApp/*.xcuserstate
spotifyApp/**/.xcode.env.local

# Android/IntelliJ
#
spotifyApp/build/
spotifyApp/.idea
spotifyApp/.gradle
spotifyApp/local.properties
spotifyApp/*.iml
spotifyApp/*.hprof
spotifyApp/.cxx/
spotifyApp/*.keystore
!spotifyApp/debug.keystore

# node.js
#
spotifyApp/node_modules/
spotifyApp/npm-debug.log
spotifyApp/yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

spotifyApp/**/fastlane/report.xml
spotifyApp/**/fastlane/Preview.html
spotifyApp/**/fastlane/screenshots
spotifyApp/**/fastlane/test_output

# Bundle artifact
spotifyApp/*.jsbundle

# Ruby / CocoaPods
spotifyApp/**/Pods/
spotifyApp//vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
spotifyApp/.metro-health-check*

# testing
spotifyApp/coverage

# Yarn
spotifyApp/.yarn/*
!spotifyApp/.yarn/patches
!spotifyApp/.yarn/plugins
!spotifyApp/.yarn/releases
!spotifyApp/.yarn/sdks
!spotifyApp/.yarn/versions
